* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1,
p,
form,
footer {
    text-align: center;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 5vw;
    color: red;
    margin: 0;
}

p,
footer,
form {
    margin-top: 50px;
    font-family: 'BioRhyme', serif;
}

.parallax1 {
    background-image: url(images/chaperon3.jpeg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax2 {
    background-image: url(images/chaperon6.jpeg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax3 {
    background-image: url(images/chaperon11.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax4 {
    background-image: url(images/chaperon12.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax5 {
    background-image: url(images/chaperon13.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax6 {
    background-image: url(images/chaperon4.jpeg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.parallax7 {
    background-image: url(images/chaperon15.jpg);
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
}

.para {
    background: rgb(247, 247, 247);
}

input {
    margin: 10px 0;
}

audio {
    display: none;
}

img:hover {
    filter: invert(100%);
    transform: scale(1.1);
}

#scrolly {
    text-align: center;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

.center {
    text-align: center;
}

#menu {
    display: none;
    z-index: 1;
    position: fixed;
    right: 0;
}

.material-icons {
    color: black;
}

.material-icons:hover {
    color: green;
}

material-icons:active {
    color: green;
}